/* Vehicle search form layout and placement on web page */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 50px;
  border: 2px solid grey;
  border-radius: 10px;
}

/* vehicle search button */
button {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* vehicle search result cards */
.vehicle-card {
  margin-top: 16px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}